<%= form_for(@manager) do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <ul>
      <% @manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.file_field :file_txt,required: true,class: "form-control-file",id: "customFile"%>
  </div>

  <div class="actions">
    <%= f.button :submit , class: "btn btn-success btn-sm" %>
  </div>
<% end %>
