<p id="notice"><%= notice %></p>

<div class="text-center">
	<%= link_to("Arquivo",@manager.file_txt.url) %>
	<br>
	<%= link_to 'Editar',edit_manager_path(@manager),class: "btn btn-info btn-sm"  %> |
	<%= link_to 'Voltar' ,managers_path ,class: "btn btn-primary btn-sm" %>
</div>

